<article class="page">
  <header class="page-head">
    <%- partial('page/title') %>
  </header>
  <% if (page.image){ %>
      <section class="page-images">
        <a href="<%- url_for(page.path) %>">
          <img src="<%- page.image %>" width="1000" height="400" alt="images">
        </a>
      </section>
  <% } %>
  <section class="page-content typo">
    <%- page.content %>
  </section>
  <% if (page.tags && page.tags.length){ %>
  <footer class="page-foot clear">
    <%- partial('page/tag') %>
  </footer>
  <% } %>
</article>
<% if (!index && page.comments && config.disqus_shortname){ %>
<section id="comments">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<% } else if (!index && page.comments && theme.duoshuo_shortname) { %>
<section id="comments">
  <!-- 多说评论框 start -->
  <div class="ds-thread" data-thread-key="<%= page.layout %>-<%= page.slug %>" data-title="<%= page.title %>" data-url="<%= page.permalink %>"></div>
  <!-- 多说评论框 end -->
</section>
<% } %>